svg {
    margin-left: auto;
    margin-right: auto; 
    display: block; 
    background-color: #484B48;
    border-style: solid; 
    border-width: thick; 
    border-color: red; 
    border-radius: 2%; 
}
body {
    background-color: #484B48; 
}
.tooltip {
    font-family: Roboto;
    color: white; 
    width: 300; 
    height: auto;
    margin-top: 10px; 
    margin-left: 50px; 
    border-style: outset; 
    border-width: thick; 
    border-color: white; 
    position: static;
}

p {
    line-height: 0px; 
}

div {
    padding: 5px;
}

.legend {
    align-content: center;
    padding: 5px; 
    margin-left: auto;
    margin-right: auto; 
    margin-top: 5px; 
    width: 100; 
    height: auto; 
    color: aliceblue; 
    border-style: outset; 
    border-width: thick; 
    border-color: red; 
/*    position: relative;*/
}

.legDot {
    opacity: 1; 
    height: 10px;
    width: 10px;
    border-radius: 50%;
    align-content: center; 
    display: inline-block; 
}

img {
    float: right; 
    margin-top: -5px; 
}

input {
    margin-left: auto;
    margin-right: auto; 
    display: block; 
    background-color: #484B48;
    color: white; 
    border-style: outset; 
}

.columns {
    background-color: grey; 
    column-count: 3;
}
.column {
    text-align: center;
    height: 250px;
}